@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #ffdd8f;
    color: #071722;
}
